<!-- LOGIN -->
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card shadow">
          <h3 class="card-header text-center bg-info text-white"><strong>Login Form</strong></h3>
          <div class="card-body">

            <form ngNativeValidate (submit)="onSubmit()" [formGroup]="loginForm">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>* Email</mat-label>
                <input type="email" matInput placeholder="Ex. example@example.com" formControlName="email"
                  [errorStateMatcher]="matcher">
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>* Password</mat-label>
                <input type="password" matInput placeholder="" formControlName="password" [errorStateMatcher]="matcher">
                <mat-error *ngIf="password.hasError('email') && !password.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-error *ngIf="noUser">
                <strong>Invalid</strong> username and password. Try again.
              </mat-error>

              <button type="submit" mat-raised-button class="bg-info btn-block text-white mt-3"
                [disabled]="!loginForm.valid">Login</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>