<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" href="">
  <title>ServiceHub</title>
</head>

<body>

  <!-- <nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top py-4">
    <div class="container">
      <a href="http://localhost:9999/Password/userLogin.html" class="navbar-brand">
        <img src="img/mlogo.png" width="50" height="50" alt="">
        <h3 class="d-inline align-middle">ServiceHub</h3>
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link"></a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <!-- LOGIN -->
  <section id="login" style="margin-top: 220px; margin-bottom: 200px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>User Login</h4>
            </div>
            <div class="card-body">

              <!-- FORM -->
              <!--  role="form" -->
              <form ngNativeValidate (submit)="onSubmit(postForm)" #postForm="ngForm">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input name="username" id="username" [(ngModel)]="username" required type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input id="pass" [(ngModel)]="password" required name="password" type="password" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Login">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">Copyright &copy; 2020 ServiceHub</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>