<div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-8 mx-auto">
        <div class="card shadow rounded">
            <div class="card-body">

                <form class="form-signin needs-validation" novalidate id="fSetup" [formGroup]="registerWorker"
                    (ngSubmit)="onSubmit()">
                    <h1 class="h3 mb-3 font-weight-normal text-center">
                        <strong>Worker and Service Registration</strong>
                    </h1>
                    <h5 class="mb-3 font-weight-normal text-center">Please enter the following information:</h5>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>* Worker's Name</mat-label>
                        <input type="text" matInput placeholder="" formControlName="firstName"
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="firstName.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>* Worker's Last Name</mat-label>
                        <input type="text" matInput placeholder="" formControlName="lastName"
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="lastName.hasError('required')">
                            Last Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>* Service</mat-label>
                        <input type="text" matInput placeholder="" formControlName="serviceName"
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="serviceName.hasError('required')">
                            Service is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>* Worker Status</mat-label>
                        <select matNativeControl required formControlName="status">
                            <option value="0">Options</option>
                            <option value="1">Available</option>
                            <option value="2">Unavailable</option>
                        </select>
                        <mat-error *ngIf="status.hasError('required')">
                            Status is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button class="bg-info btn-block text-uppercase" type="submit"
                        [disabled]="!registerWorker.valid"><strong>Accept</strong>
                    </button>
                    <p class="mt-4 mb-0 text-muted">Service Hub © 2020</p>
                </form>
            </div>
        </div>
    </div>
</div>