<mat-toolbar class="bg-info-light">
    <div class="container">
        <button (click)="sidenav.toggle()" class="btn btn-sm text-white">
            <em class="fas fa-bars"></em>
            MENU
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" (backdropClick)="close('backdrop')" [hasBackdrop]="true">
    <mat-sidenav #sidenav mode="side" class="inside-sidenav" [fixedInViewport]="false" [fixedTopGap]="0"
        [fixedBottomGap]="0" (keydown.escape)="close('escape')">
        <div class="btn-group-vertical">
            <a mat-button href="javascript:void()" routerLink="main" class="m-1">
                <em class="fas fa-chevron-circle-right"></em> Home</a>
            <a mat-button href="javascript:void()" routerLink="registerWorker" class="m-1">
                <em class="fas fa-chevron-circle-right"></em> Add Worker</a>
            <a mat-button href="javascript:void()" routerLink="serviceHistory" class="m-1">
                <em class="fas fa-chevron-circle-right"></em> Service History</a>
        </div>
    </mat-sidenav>
    <div class="container mt-3 mb-3">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>