<nav class="navbar navbar-dark navbar-expand-md fixed-top py-4" style="background-color: rgb(14, 14, 114);">
    <div class="container">
      <a href="home.html" class="navbar-brand">
        <img src="../../../assets/images/SH.png" width="50" height="50" alt=""><h3 class="d-inline align-middle pl-4">ServiceHub</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="http://localhost:9999/Password/userLogin.html" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="http://localhost:9999/Password/userReg.html" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <a href="#authors" class="nav-link"></a>
          </li>
          <li class="nav-item">
            <a href="http://localhost:9999/Password/logout" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
