<div class="row">
  <div class="col-12 col-md-6">
    <div class="card mb-3 border-info shadow">
      <div class="card-body">
        <form ngNativeValidate (submit)="onSubmit(service)" #service="ngForm">
          <h4 id="serviceModalLabel">Get a Service</h4>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Date:</mat-label>
            <input matInput [matDatepicker]="dp3" name="date" readonly [(ngModel)]="reservation.date">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Service:</mat-label>
            <input type="text" name="service" matInput readonly [(ngModel)]="worker.serviceName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Worker:</mat-label>
            <input type="text" name="worker" matInput readonly [(ngModel)]="worker.firstName">
          </mat-form-field>

          <button mat-raised-button class="bg-info btn-block text-uppercase" type="submit"><strong>Submit</strong>
          </button>
        </form>
      </div>
    </div>

  </div>
  <div class="col-12 col-md-6">
    <app-service-list></app-service-list>
  </div>
</div>