<div class="card mb-3 border-info shadow">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../../../../../assets/img/here.png" class="card-img" alt="here">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title mb-1">{{worker.serviceName}}</h3>
                <h4 class="mb-1">{{worker.firstName}} {{worker.lastName}}</h4>
                <p class="card-text mb-1"><small class="text-muted">{{worker.companyName}}</small></p>
                <a href="javascript:void()" class="card-link" (click)="onSelect( worker )">Selected</a>
            </div>
        </div>
    </div>
</div>