/* Hidding Arrows Btn on input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.full-width {
  width: 100% !important;
}

html {
  position: relative;
  min-height: 100%;
}
.footer{
  bottom: 0;
  width: 100%;
  height: 60px;
}

.bg-info-light{
  background-color: #7ed6e4;
}

.mat-snack-bar-container{
  margin-bottom: 80px !important;
}