<div class="container">
  <div class="row">
    <h3>Filters</h3>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Filter by Service:</mat-label>
      <input type="text" matInput placeholder="..." [(ngModel)]='inputField' name="filterService">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Filter by Worker's Name:</mat-label>
      <input type="text" matInput placeholder="..." [(ngModel)]='inputField_forName' name="filterName">
    </mat-form-field>

    <app-worker-card class="col-12" *ngFor="let worker_index of filteredWorkers" [worker]="worker_index">
    </app-worker-card>
  </div>
</div>