
<input type = 'text' [(ngModel)] = 'inputField' placeholder = 'filter'/>
<div align="center">
    <h3>Your Workers</h3>
    <table class="table">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Service</th>
        </tr>
        <tr *ngFor="let worker of workers">
            <td>{{worker.id}}</td>
            <td>{{worker.firstName}} {{worker.lastName}}</td>
            <td>{{worker.serviceName}}</td>
            <td><button class="btn btn-sm btn-outline-primary ml-4" (click)="Update(worker)">
                    Update</button></td>
            <td><button class="btn btn-sm btn-outline-primary ml-4" (click)="Delete(worker.id)">
                    Remove</button></td>
        </tr>
    </table>
</div>
<div ng-show="sight">
    <app-update-form></app-update-form>
</div>