<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6" *ngFor="let service of servicesList">
            <div class="card mb-3 border-info shadow">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../../assets/img/here.png" class="card-img" alt="here">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title mb-1">{{service.serviceName}}</h3>
                            <h4 class="mb-1">{{service.firstName}} {{service.lastName}}</h4>
                            <p class="card-text mb-1"><small class="text-muted">{{service.companyName}}</small></p>
                            <a href="javascript:void()" class="card-link" (click)="selectedService()">Selected</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>