<table>

    <tr>
        <td>First Name</td>
        <td><input type="text" placeholder={{cWorker.name}}></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" placeholder={{cWorker.lastName}}></td>
    </tr>
    <tr>
        <td>Service</td>
        <td><input type="text" placeholder={{cWorker.serviceName}}></td>
    </tr>
    <tr>
        <td><input type="checkbox" id="stats">
            <label for="stats">Available?</label></td>
    </tr>
</table>
<button value="submit" onclick="Update()"></button>